@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.fon {
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    position: absolute;
    filter: blur(5px) brightness(0.3) drop-shadow(0px 0px 0px rgb(0, 0, 0));
    top: 0;
    left: 0;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.2em;
    margin-bottom: 0.83em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nick {
    font-size: 100px;
    color: #0a2a4c;
    margin: 0;
}

.nick, .under-nick {
    z-index: 2;
    margin-bottom: -2rem;
}

.under-nick {
    background: linear-gradient(to right, #17324c, #35414b);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 40px;
    margin: 0;
}

.buttons {
    position: absolute;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button {
    background: #00396e;
    border-radius: 45%;
    margin: 10px 10px 10px 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -5px -5px 15px #011d44, 5px 5px 15px #011d44, inset 5px 5px 10px #011d44, inset -5px -5px 10px #011d44;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.button:hover {
    background-color: #011d44;
    transition: 0.5s;
    transform: scale(1.1);
    box-shadow: -5px -5px 15px #011d44, 5px 5px 15px #011d44, inset 5px 5px 10px #011d44, inset -5px -5px 10px #011d44;
}

.button svg {
    transition: fill 0.8s ease-in-out;
}

.button:hover svg {
    fill: #cacaca;
}

@media screen and (max-width: 768px) {
    .buttons {
        position: relative;
    }

    .nick {
        font-size: 90px;
    }
}